body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-color: white;
    background-size: 98%;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-left: 5%;
}

h1 {
    font-size: 48pt;
    color: rgb(150, 16, 32);
    padding-top: 20px;
    text-align: left;
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-weight: bold;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 10px;
    border-radius: 10px;
    color: rgb(150, 16, 32);
    border-color:  rgb(150, 16, 32);
    width: 100px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color:  rgb(150, 16, 32);
    padding-left: 5px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#start-link {
    text-decoration: none;
    color:  rgb(150, 16, 32);
    padding-left: 1px;
    padding-right: 0px;
}

#i-start-link {
    text-decoration: none;
    color:  rgb(150, 16, 32);
    padding-left: 23px;
    padding-right: 26px;
}

#rules-title {
    text-align: left;
    padding-top: 0;
    margin-top: 0;
}

#rules-text1 {
    text-align: left;
}

#rules-left {
    width: 48%;
    float: left;
}

#rules-right {
    width: 51%;
    float: right;
    text-align: left;
    margin-top: 30px;
}

#start-btn {
    display: block;
    margin-left: 40%;
}

#first-player-text {
    text-align: left;
}

#i-start-btn {
    position: absolute;
    left: 0;
    margin-left: 5%;
}

#computer-starts-btn {
    position: absolute;
    left: 10%;
    margin-left: 5%;
}

header {
    margin-bottom: 0%;
    padding-bottom: 0%;
}

section {
    margin-top: 0%;
    padding-top: 0%;
}

#game-score-tracker {
    width: 35%;
    float: inline-start;
    text-align: left;
    font-size: 15pt;
    margin-top: 0%;
}

#game-score-el {
    margin: 0%;
    padding: 0%;
}

#game-score-me-el {
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0%;
}

#game-score-comp-el {
    margin-top: 0%;
    margin-bottom: 5%;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0%;
}


#game-current-state {
    width: 60%;
    float: inline-end;
}

#score {
    width: 50%;
    float: inline-start;
    text-align: left;
    font-size: 13pt;
}

#turn-score-el {
    margin-top: 0%;
    padding-top: 1%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

#turn-score {
    font-size: 32pt;
    margin-top: 2%;
    padding-top: 0%;
}


#player {
    width: 50%;
    float: inline-end;
    text-align: center;
    font-size: 0pt;
}

#whose-turn-el {
    margin-top: 0%;
    padding-top: 1%;
    margin-bottom: 0%;
    padding-bottom: 0%;
    font-size: 21pt;
}

#comp-turn-btn {
    margin-top: 4%;
    margin-bottom: 0px;
    margin-left: 0%;
    margin-right: 0%;
    border-top-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;
    color: black;
    border-color: black;
    background-color: white;
    cursor: auto;
    font-size: 10pt;
}

#my-turn-btn {
    margin-top: 4%;
    margin-bottom: 0px;
    margin-right: 0%;
    margin-left: 0%;
    border-top-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 10px;
    color: black;
    border-color: black;
    background-color: white;
    cursor: auto;
    font-size: 10pt;
}

#dice-and-buttons {
    text-align: left;
    padding-top: 20%;
}

#instruction-message {
    font-weight: normal;
    padding-bottom: 18.5px;
}

#computer-won {
    float: left;
    width: 50%;
    height: 50%;
    margin: 0;
}

#btn-group {
    size: 40%;
    margin: 10%;
    position: relative;
    top: 10%;
    left: 10%;
}

#to-rules-btn {
    display: block;
    margin-left: 120px;

}

#play-again-btn {
    display: block;
}

